@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
// @import url('https://res.cloudinary.com/dlolebywo/raw/upload/v1632550994/fonts/Signatura_Monoline_menzjq.otf');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@font-face {
  font-family: 'signatureFont';
  //src: url('https://res.cloudinary.com/dlolebywo/raw/upload/v1632550994/fonts/Signatura_Monoline_menzjq.otf');
  //src: url('https://res.cloudinary.com/dbdp4fear/raw/upload/v1633360469/Sacramento-Regular_oqou5x.ttf');
  src: url('https://res.cloudinary.com/dbdp4fear/raw/upload/v1641973226/Autumn_in_November_dgoczo.ttf');
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


// font yang di gunakan sacramento
// invitation name menggunakan +
// background depan menggunakan backdrop warna biru dan tombol warna pink
// dresscode
// panduan tamu : di sarankan tidak membawa anak kecil, mengscan qrcode di meja tamu
